[Unit]
Description=Setu V3 Admin Dashboard
After=network.target postgresql.service
[Service]
User=pi50001_admin
WorkingDirectory=/home/pi50001_admin/SetuV3
ExecStart=/home/pi50001_admin/SetuV3/venv/bin/python app.py
Environment="PATH=/home/pi50001_admin/setu-v3/venv/bin"
Restart=always
[Install]
WantedBy=multi-user.target